body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > #root {
  min-height: 100vh;
  background-color: #eeeeee;

  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.col1 {
  flex: 1;
}
